.link-international {
    background: rgb(111, 74, 205);
}

.link-americas {
    background: rgb(255, 89, 16);
}

.link-emea {
    background: rgb(169, 214, 9);
}

.link-pacific {
    background: rgb(9, 208, 214);
}

.link-china {
    background: rgb(247, 39, 89)
}
